*{ 
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
  width: 100%;
  min-height: 100hv;
  padding-left: 8%;
  padding-right: 8%;
  background-color: #101010;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}
.logo{
  width: 60px;
  cursor: pointer;
  margin: 25px 0;
}
.menu-icon{
  width: 25px;
  cursor: pointer;
  display: none;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover{
  color: #f9004d;
  transform: 4s;
}
span{
  color: #f9004d;
}
.row4{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.mul-1{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.mul-1 h2{
  font-size: 30px;
  text-align: center;
  color: white;
}
.boxx{
  display: flex;
  justify-content: center;
  align-items:initial;
  min-height: 350px;
}
.cardx p{
  height: 200px;
  width: 250px;
  padding: 20px 18px;
  background: linear-gradient(#f9004d, #fcfc);
  border-radius: 0px;
  margin: 13px;
  position: relative;
  overflow: hidden;
  text-align:center;
  color: #fff;
}
.social-links img{
  height: 20px;
  margin: 20px;
  cursor: pointer;
  }
  .social-links{
    text-align: center;
  }